/* App.css */

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #220707;
}

.model-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* centers the model-cards horizontally */
  gap: 30px; /* spacing between each card */
}

.model-card {
 
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 90%; /* makes iframe responsive */
  display: flex;
  flex-direction: column;
  align-items: center; /* centers iframe inside */
}

.model-iframe {
  width: 150%;
  height: 550px;
  border: none;
  border-radius: 10px;
}

/* Optional: make it a bit nicer on smaller devices */
@media (max-width: 768px) {
  .model-iframe {
    height: 300px;
  }
}


